.search-bar {
  width: 80%;
  position: relative;
}

.search-bar__input {
  width: 100%;
  font-size: 1rem;
  border-radius: 16px;
  border: none;
  outline: 2px solid var(--gray-500);
  color: var(--gray-500);
  padding: 10px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.568);
}

.search-bar__input:focus {
  outline: 3px solid var(--gray-500);
}

.search-bar__icon {
  width: 20px;
  position: absolute;
  right: 10px;
  top: 8px;
  bottom: 8px;
}