.header {
  background-color: transparent;
  color: var(--primary-color);
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
}

.header__nav {
  margin-left: auto;
}

.header__item-list {
  display: flex;
  gap: 20px;
}

.header__item {
  list-style: none;
}

.header__link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
  padding: 7px 1rem;
}

.header__link:hover {
  padding: 7px 1rem;
  background: black;
  color: white;
  border-radius: 35px;
}