.about-section {
  background-color: transparent;
  width: 80%;
  border-radius: 10px;
  margin: auto;
  color: var(--gray-500);
  display: flex;
  gap: 40px;
  flex-direction: column;
  height: fit-content;
}

.about-section__heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-color);
}

.about-section__main {
  display: flex;
  gap: 10px;
}

.about-section__image {
  height: 200px;
}

@media (width<=1024px){
  .about-section {
    width: 90%;
  }

  .about-section__main {
    flex-direction: column;
    gap: 20px;
   }
}